node_modules
*.sh
*.md
*.json
*.yml
*.yaml
*.conf
*.ini
*.toml
*.txt
*.log
*.tmp
*.swp
*.DS_Store
*.gitignore
*.gitmodules
*.gitattributes
*.gitkeep
.env.*
.env
.vscode
.xml
.info
*.html
apidocs
apihtmldocs
test/unit_test/coverage
